---
---

 
<div id="{{key}}-materials">
  <strong>{{entry.title}}</strong>
  <div> 
  {% assign names = entry.author | split:"and" %}
  {% assign seperator = "," %}
  {% for name in names %}
      {% assign firstlast = name | split:"," %}
       {% if forloop.last %}
          {% assign seperator = "" %}
          {% if forloop.length > 1 %}
            and 
          {% endif %}     
       {% endif %}   
       {{firstlast[1]}} {{firstlast[0]}}{{seperator}}
  {% endfor %}
  </div>
  <div> 
     {% if entry.booktitle == empty or entry.booktitle == nil %}
        {% else %}
         In <em>{{ entry.booktitle }}</em>.
        {% endif %}
     {% if entry.journal == empty or entry.journal == nil %}
        {% else %}
         <em>{{ entry.journal }}</em>.
        {% endif %}   
     {% if entry.series == empty or entry.series == nil %}
        {% else %}
         <em>{{ entry.series }}</em>.
        {% endif %}      
     {% if entry.pages == empty or entry.pages == nil %}   
        {% else %}
         {{ entry.pages }},
     {% endif %} 
        {{ entry.year }}. 
        {% if entry.url == empty or entry.url == nil %}
        {% else %}
          <a href="{{entry.url}}">PDF</a>
        {% endif %}

    </div> 
    {% if entry.award == empty or entry.award == nil %}
        {% else %}
        <div style='color:red; font-weight:bold'>{{ entry.award }}</div>
    {% endif %}
</div>