<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Blog</a></li>
  <li><a href="{{ root_url }}/mission">Mission</a></li>
  <li><a href="{{ root_url }}/members">Members</a></li>
  <li><a href="{{ root_url }}/publications">Publications</a></li>
  <li><a href="{{ root_url }}/software">Software</a></li>
  <li><a href="{{ root_url }}/prospectivestudents">Prospective Students</a></li>
  <li><a href="{{ root_url }}/sponsors">Sponsors</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
</ul>
