// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.year {

font-weight: bold;

}

ul {

margin: 18px;
}

.pub {

font-size: 11pt;

}
